# Игнорировать сборку
*/build/*
*/build/**/*

# Но разрешить .bin файлы
!*/build/*.bin
!*/build/**/*.bin

# Игнорировать кэш
*/.cache/*
# Добавить правило для .cache
*/.cache/
*/.cache/**

# Игнорировать sdkconfig
*/sdkconfig
*/sdkconfig.old

# Игнорировать Python
python_env/
__pycache__/
*.pyc

# Игнорировать IDE
.vscode/
.idea/